* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6%;
}

/* NAVBAR-SECTION */
.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    background-color: white;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
}

.nav-menu a {
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}
.burger-list{
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-menu{
        display: none;
    }
    .nav-menu.active{
       display: inline-block;
       position: absolute;
       top: 100%;
       background-color: white;
       right: 0%;
       left: 0;
       padding: 1rem 2rem;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .nav-menu.active li a{
        padding: 0.3rem;
        text-align: start;
        width: 100%;
    }

    .burger-list{
        display: block;
    }
}
/* NAVBAR-SECTIN END */


/* section-intro */
.introduction{
    display: flex;
    flex-direction: column;
   width: 100%;
}

.content-intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.content-intro img {
    height: auto;
    width: 100%;
    max-width: 350px;

}
.text-intro{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    max-width: 450px;
}

.text-intro button{
    padding:  0.5rem;
    width: 100%;
    max-width: 150px;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 1rem;
}
@media (max-width: 768px){
    .content-intro{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 4rem;
    }
    .content-intro img{
        height: auto;
        width: 70%;
    }

    .text-intro{
        align-items: center;
    }
}
/* SECTION-INTRO END */

/* SECTION ABOUT-ME */
.about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-me-session{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.about-me-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.about-me-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    grid-area: 1rem;
}

.about-me-text h3{
    font-size: 1.2rem;
}
.about-me-text p{
    font-size: 1rem;
    text-align: justify;
}

@media (max-width: 768px) {
    .about-me-session{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
}
/* ABOUT-ME END */

/* SECTION-PORTO */
.porto {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-porto{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
}

.content-porto{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.project-porto{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0 10%;
}

@media(max-width: 768px){
    .project-porto{
        flex-direction: column;
        gap: 4rem;
        pad: 0 0;
    }
}


.list-project-porto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.project-item-porto{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   
}

.project-item-porto img{
    height: auto;
    max-width: 100%;
}
.project-item-porto h4{
    font-size:1.5rem;
    padding-top: 1.5rem;
}
/* SECTION-PORTO-END*/


/* SECTION-PENDIDIKAN */

.pendidikan {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: cornflowerblue;
}
.content-pendidikan{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 3rem;
}


.header-pendidikan{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.list-pendidikan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   list-style-type: none;
   justify-content: center;
   width: 100%;
   gap: 3rem;
   padding: 0 10%;

}

.list-pendidikan :hover {
    transform: scale(1.1);
}


.list-pendidikan li{
    max-width: 150px;
}

.list-pendidikan li img{
    height: auto;
    max-width: 100%;
}


@media (max-width:768px ){
    .list-pendidikan{
       gap: 1.5rem;
       padding: 0 5%;
    }

     .list-pendidikan li {
            max-width: 100px;
        }


}
/* SECTION-PENDIDIKAN END */

/* section contact me */
.contact-me-header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   list-style-type: none;
   justify-content: center;
   width: 100%;
   gap: 3rem;
   padding: 0 10rem;
   padding-top:  3rem;
   transition: transform 0.3 ease;
}

.list-contact li{
    max-width: 100%;
}

.list-contact li :hover {
    transform: scale(1.1);
}
/* SECTION CONTACT ME END */

/* footer */

/* footer end */